.App-header {
  background-image: url("./assets/textures/prism.png");
  background-color: #222;
  min-height: 125px;
  padding: 55px;
  padding-bottom: 35px;
  color: white;
}

.App-navbar {
  background-image: url("./assets/textures/prism.png");
  background-color: #222;
  margin: 0px;
  border-width: 2px 0px 0px 0px;
  border-color: red;
  border-style: dotted;
  position: sticky;
  padding: 35px;
}

.title {
  font-size: larger;
  display: flex;
  text-transform: uppercase;
  float: left;
  width: 40%; 
  margin: auto;
}

.subTitle {
  font-size: smaller;
  display: flex;
  text-transform: lowercase;
  float: right;
  text-align: right;
  padding: 5px;
  align-content: bottom;
  margin-top: 50px;
}

.App-body {
  margin: 0px;
  padding: 35px;
  min-height: 400px;
  height: fit-content;
}

.App-footer {
  background-image: url("./assets/textures/prism.png");
  background-color: #222;
  height: auto;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  color: white;
  position: relative;
}

.resumeblock {
  display: block;
  width: 80%;
  margin: auto;
  cursor: grab;
}

.resumeTitle { 
  color: black;
  display: block;
  margin: 5px;
  padding: 5px;
  text-align: left;
  word-wrap: none;
  line-height: 35px;
}

.resumeTitle:hover { 
  background-color: rgb(147, 147, 173);
}

.resumeTable {
  display: block;
  padding: 2px;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 16px;
}

.contactblock {
  margin: 0px;
  padding: 0px;
}

.addpadd {
  padding-right: 10px;
}

.clickTo {
  display: block;
  word-wrap: none;
  cursor: default;
  margin: auto;
  width: 250px;
  padding: 35px;
  padding-top: 5px;
  height: auto;
}

.scrollToTopButton {
  position: fixed;
  bottom: 40px;
  float: right;
  right: 16.5%;
  left: 79.25%;
  max-width: 140px;
  width: 100%;
  font-size: 12px;
  border-color: rgba(85, 85, 85, 0.2);
  background-color: rgb(100,100,100);
  padding: 5px;
  border-radius: 4px;
}

.scrollToTopButton:hover {
  background-color: rgb(147, 147, 173);
}

.wrapper {
  padding: 0px;
  margin: 0px;
}

@media screen and (max-width: 800px) {
  .App-header {
    padding: 15px;
    padding-bottom: 40px;
  }
  
  .App-navbar {
    padding: 5px;
  }
  
  .title {
    display: inline-flex;
  }
  
  .subTitle {
    display: inline-flex;
    text-align: right;
    margin: 0px;
  }

  .resumeblock {
    width: 95%;
  }
}
