.App-header {
  background-image: url("./assets/textures/prism.png");
  background-color: #363029;
  min-height: 120px;
  padding: 50px;
  color: white;
  font-size: 34px;
}

.App-navbar {
  background-image: url("./assets/textures/tape-1458416.png");
  background-size: contain;
  background-blend-mode: lighten;
  background-color: #363029;
  margin: 0px;
  border-width: 2px 0px 0px 0px;
  border-color: red;
  border-style: dotted;
  position: sticky;
  padding: 5px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.title {
  font-size: larger;
  display: flex;
  text-transform: uppercase;
  float: left;
  width: 33%; 
  margin: auto;
  text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
}

.subTitle {
  font-size: smaller;
  display: flex;
  text-transform: lowercase;
  float: right;
  text-align: right;
  padding: 5px;
  align-content: bottom;
  margin-top: 50px;
  text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
  0px 8px 13px rgba(0,0,0,0.1),
  0px 18px 23px rgba(0,0,0,0.1);
}

.App-body {
  margin: 0px;
  padding: 0px;
  min-height: 500px;
}

.App-footer {
  background-image: url("./assets/textures/tape-1458416.png");
  background-size: contain;
  background-blend-mode: lighten;
  background-color: #363029;
  height: auto;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  color: white;
  position: relative;
  text-transform: uppercase;
  text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
  0px 8px 13px rgba(0,0,0,0.1),
  0px 18px 23px rgba(0,0,0,0.1);
}

.addpadd {
  padding-right: 10px;
}

.clickTo {
  display: block;
  word-wrap: none;
  cursor: default;
  margin: auto;
  width: 250px;
  padding: 35px;
  padding-top: 5px;
  height: auto;
}

.scrollToTopButton {
  position: fixed;
  bottom: 40px;
  float: right;
  right: 29.5%;
  left: 72.25%;
  max-width: 110px;
  width: 100%;
  font-size: 12px;
  border-color: rgba(85, 85, 85, 0.2);
  background-color: #857557;
  padding: 5px;
  border-radius: 4px;
}

.scrollToTopButton:hover {
  background-color: #586556;
}

.wrapper {
  padding: 0px;
  margin: 0px;
}

@media screen and (max-width: 900px) {
  .App-header {
    font-size: 18px;
    padding: 20px;
    padding-bottom: 0px;
    min-height: 80px;
  }
  
  .title {
    display: flex;
    margin: 0px;
  }
  
  .subTitle {
    display: flex;
    margin: 0px;
  }
}

/* Main color palatte
3D4140
586556
363029
857557
C4B481 */

