.certPage {
  margin: 0px;
  padding: 0px;
  display: block;
}

.certNav {
  display: inline-flex;
  margin: 0px;
  padding: 8px;
  background-image: url("../../assets/textures/prism.png");
  border-width: 2px 0px 0px 0px;
  border-color: red;
  border-style: dotted;
  font-size: 12px;
  border-radius: 0px 0px 15px 15px;
}

.certPanel {
  width: 80%;;
  height: auto;
  margin: auto;
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
}

strong.certNavButton {
  text-decoration: none;
  color:#C4B481;
  padding: 6px;
  font-size: 16px;
  border-color: #857557;
  border-style: solid;
  border-radius: 12px; 
  font-weight: 200;
}

strong.certNavButton:hover {
  border-width: 1px;
  border-color: #857557;
  border-style: solid;
  border-radius: 12px; 
  color: black;
  background-color: #586556;
  font-weight: 800;
}

/* Main color palatte
3D4140
586556
363029
857557
C4B481 */
