.certNav {
    width: 100%;
    margin-top: -15px;
    margin-bottom: 35px;
    padding: 0px;
  }

ul.cardUl {
    display: inline-flex;
    padding: 0px;
}

li.cardLi {
    display: inline-flex;
    cursor:pointer;
    border:none;
    margin: 0px;
    margin-left: 10px;
    margin-right: 10px;
}

strong.certNavButton {
  border: none;
  color: black;
  padding: 8px;
  text-decoration: none;
  border-radius: 10px; 
  font-size: 16px;
  word-wrap: none;
  background-color: rgb(147, 147, 173);
  text-align: center;
}

strong.certNavButton:hover {
  background-color: rgba(199, 199, 209, 0.788);
  padding: 5px;
  border-width: 3px;
  border-color: black;
  border-style: solid;
}

.certPage {
  width: 100%;
  margin: 0px;
  padding: 5px;
  align-content: center;
  border-radius: 25px;
}

.certPanel {
  width: 80%;
  height: auto;
  margin: auto;
  padding: 15px;
  align-content: middle;
}

@media screen and (max-width: 800px) {
li.cardLi {
    display: flex;
    border: 3px;
    border-color: rgba(24, 21, 21, 0.342);
    border-style: inset;
    background-color: rgb(224, 194, 194);
    cursor:pointer;
    border:none;
    color:#FFF;
    border-radius: 5px; 
}

  .certPage {
    width: 100%;
    margin: 0px;
    padding: 0px;
    align-content: center;
  }
  
  .certPanel {
    width: 90%;
    height: auto;
    margin: 0px;
    padding: 5px;
    padding-top: 35px;
    align-content: middle;
  }
}