.resumeblock {
    display: block;
    width: 80%;
    margin: auto;
    cursor: grab;
    padding: 30px;
    padding-top: 0px;
  }
  
  .resumeTitle { 
    color: black;
    display: block;
    margin: 5px;
    padding: 5px;
    text-align: left;
    word-wrap: none;
    line-height: 35px;
  }
  
  .resumeTitle:hover { 
    background-color: #857557;
  }
  
  .resumeTable {
    display: block;
    padding: 2px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 16px;
  }

  .resumeNav {
    display: inline-flex;
    margin: 0px;
    padding: 8px;
    background-image: url("../../assets/textures/prism.png");
    border-width: 2px 0px 0px 0px;
    border-color: red;
    border-style: dotted;
    border-radius: 0px 0px 15px 15px;
    color: #857557;
    font-size: 20px;
  }
  